.whats-app {
    z-index: 999999;
}

.whatsapp-float {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

@media only screen and (min-width: 100px) and (max-width: 536px) {
    .whatsapp-float {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}